 
/* tous les titres h1 s'affichent en rouge et centré */
    h1{
      color: red;
      text-align: center;
    }
    
    /*les paragraphes en bleu*/
    p{
      color : blue;
    }
    /*Le texte des liens en vert et gras*/
    .tp7 a{
      font-weight: bold;  
      color: green; 
    }

/*tous les éléments HTML de la classe droite" 
    seront alignés à droite avec un fond jaune*/

    .droite{
      float: right;
      background-color: yellow;
    }
  /*tous les éléments HTML de la classe "large" 
    ont une taille de 300%*/
    .large{
      font-size: 200%;
      
      }
    

  /* appliquer une couleur rouge uniquement sur remarque */
    #remarque{
      color: red;
    }

h2 {
  color: #FF0000;
  text-align: center;
}


/* tous les éléments de la classe "info" */
.info {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  background-color: #00FF00;
  opacity: .6;
}

/* l'élément identifié par "principal" */
#principal {
  font-size: 24px;
  font-weight: bold;
  background-color: #FF0000;
  opacity: .7;
}

/* toutes les paragraphes et les titres h1  */
p h1 {
  color: #0000FF;
  text-align: center;
}
